.even {
    background-color: rgba(226, 225, 226, 0.432);
    padding: 2em;
    height: 1.5em;
}

.odd {
    background-color: rgba(145, 195, 235, 0.575);
    padding: 2em;
    height: 1.5em;
   
}

.a-booking .name {
    display: flex;
    align-items: flex-end;
    right: 10px;
}
